*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
    background-color: rgb(30, 129, 129);
}

.form_name{
    margin-top: 30px;
    gap: 6px;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
}

.pname{
    border: none;
    border-radius:  20px ;
    padding: 4px;
}

#submit{
    border-radius: 20px;
    padding: 5px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
    flex-wrap: wrap;
}

.box{
    height: 18vmin;
    width: 18vmin;
    background-color: rgb(186, 138, 75);
    border: none;
    border-radius: 20%;
    font-size: 8vmin;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    color: black;
}

.reset{
    padding: 10px;
    width: 120px;
    border-radius: 14px;
    border: none;
    background-color: rgb(177, 112, 112);
}

.winner{
    height: 10vmin;
    padding: 20px;
    font-size: larger;
}